$grey-0: #1a1a1a;
$grey-1: #3a3a3a;
$grey-2: #7a7a7a;
$grey-3: #fafafa;
$accent: orange;
$red: tomato;
$green: mediumspringgreen;

body {
	background: $grey-0;
	color: $grey-3;
	margin: 0 0.5rem;
}

#header {
	padding-top: 3rem;

	h1,
	h3 {
		line-height: 1;
	}
	h3 {
		color: $grey-2;
		font-weight: 300;
		margin-bottom: 2.5rem;
	}
}

.warning {
	color: $red;
	font-size: smaller;
	margin-bottom: 0.5rem;
	opacity: 0;
}

#add-todo-btn:hover {
	background: $green;
}

hr {
	border: none;
	border: 1px solid $grey-1;
	margin: 2.5rem auto;
	width: 90%;
}

#user-list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	hyphens: auto;

	.list-item-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 0.5rem 0;

		.list-item-todo-container {
			display: flex;
			gap: 0.5rem;
		}

		.list-item-btn-container {
			display: flex;
			gap: 0.5rem;

			.delete-btn:hover {
				background: $red;
			}
		}
	}
}
